.post--wrapper {
    padding: 32px 0;
}

.post--ad_one {
    width: 100%;
    height: 110px;
    background-color: var(--dark-gray);
}

.post--article_title {

    &>span {
        color: var(--main-white);
        background-color: var(--tag-entretenimento);
        padding: 2px 8px;
        text-transform: uppercase;
        font-family: var(--font-display);
        font-size: 24px;
    }

    h1 {
        margin: 18px 0;
        font-size: 40px;
        font-family: var(--font-display);
        text-transform: uppercase;
    }

    p {
        margin: 0;
        font-size: 24px;
    }
}

.post--article_cover {
    width: 100%;
    height: 575px;
    position: relative;
    margin: 24px 0;
}

.post-article_info {
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 16px 0;
    align-content: center;

    span {
        font-size: 24px;
    }
}

.post--article_avatar {
    display: flex;
    align-items: center;
    gap: 15px;

    p {
        font-size: 24px;
    }

    span {
        color: var(--tag-notebook);
        font-weight: 700;
    }
}

.post--article_grid {
    display: grid;
    grid-template-areas: "post--content sidebar";
    grid-template-columns: 58% auto;
    margin-top: 50px;
}

.post--content {
    p {
        font-size: 18px;
        line-height: 1.8em;
    }
}

.sidebar {
    margin-left: auto;
}

.post--ads_img {
    position: relative;
    width: 400px;
    height: 519px;
}

.post--hot_title {
    font-family: var(--font-display);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 12px;

    h1 {
        font-size: 24px;
    }

    a {
        cursor: pointer;
    }
}

.post--hot_card {
    display: flex;
    align-items: center;

    span {
        color: var(--main-white);
        background-color: var(--tag-entretenimento);
        padding: 2px 8px;
        text-transform: uppercase;
        font-family: var(--font-display);
        font-size: 12px;
    }

    h2 {
        font-family: var(--font-display);
        text-transform: uppercase;
    }
}

.post--hot_cover {
    width: 188px;
    height: 149px;
    position: relative;
    flex-basis: 50%;
}

.post--hot_info {
    width: 200px;
    margin-right: auto;    
    padding-left: 24px;

    h2 {
        font-size: 16px;
    }
}