@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;600;700&family=Roboto:wght@400;700&display=swap');

:root {
  --font-display: 'Exo', sans-serif;
  --font-body: 'Roboto', sans-serif;
  --bg-black: #1A191E;
  --main-black: #404040;
  --main-white: #ffffff;
  --main-cyan: #00D1FF;
  --dark-gray: #B8B8B8;
  --light-gray: #D9D9D9;
  --tag-entretenimento: #AD00FF;
  --tag-game: #FFB800;
  --tag-tecnologia: #4641ff;
  --tag-ciencia: #00c087;
  --tag-dicas: #09F1E3;
  --tag-nintendo: #FF0000;
  --tag-notebook: #FF7A00;
  --tag-review: #0075FF;
  --tag-filme: #f21147;
  --tag-critica: #309E3A;
  --tag-serie: #87f807 ;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-body);
  color: var(--main-black);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: auto;
  margin-left: auto;
} 
@media (min-width: 576px) {
  .container {
      width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
      width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
      width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
      width: 1240px;
  }
}